<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/intelligence/static/css/css.css"/>
</head>
<body>
<div>
<div class="container">
  <div class="top_div">
    智能客服
  </div>
  <div class="main">
    <div class="main_con">
      <div class="dialog">
      <div id="lanrenzhijia">
      </div>
      </div>
      <div class="input_txt">
        <input placeholder="请用一句话描述您的问题，例如“网银如何支付”" id="txt" type="text"></input>
        <select id="selections"></select>
      </div>
      <div class="btn">
        <a href="#" class="btn6">发送</a>
      </div>
    </div>
  </div>
</div>
</div>
<input  type="text" th:value="${username}" id="username" style="display: none" />
<script type="text/javascript" src="/intelligence/static/js/jquery.min.js"></script>
<script src="/intelligence/static/js/jquery.nicescroll.js"></script>
<script type="text/javascript">
  $(function(){
    $("#lanrenzhijia").niceScroll({
      cursorcolor:"#67a8d1",
      cursoropacitymax:1,
      touchbehavior:false,
      cursorwidth:"6px",
      cursorborder:"0",
      cursorborderradius:"6px"
    });
  });
  window.onload = function(){
    //获取文本框对象
    var searchText = document.getElementById("txt");
    //获取提交button对象
    var action = document.getElementById("btn6");
    //获取要增加到的下拉列表对象
    var selections = document.getElementById("selections");
    //点击提交的时候执行的方法
    action.onclick = function(){
      //如果文本框对象中值不为空
      if(searchText.value ){
        //根据文本框中的值循环5次
        for(var i =5;i>0;i--){
          //设置下拉列表中的值的属性
          var option = document.createElement("option");
          option.value = searchText.value + i;
          option.text= searchText.value+i;
          //将option增加到下拉列表中。
          selections.options.add(option);
        }
      }
    }
  }
	function setPos() {
		var div = document.getElementById('lanrenzhijia');
		div.scrollTop = div.scrollHeight;
	}
  $('.btn6').click(function(){
      $("#lanrenzhijia").append('<div class="content1"><p>访客：</p><p>'+$('#txt').val()+'</p><div class="clear"></div></div>');
	  setPos();
	  send()
  });
    var webSocket;
    if ("WebSocket" in window)
    {
        var data = $("#username").val();
        webSocket = new WebSocket("ws://localhost:8088/intelligence/websocket/"+document.getElementById('username').value);

        //连通之后的回调事件
        webSocket.onopen = function()
        {
            console.log("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt)
        {
            var received_msg = evt.data;
            console.log("数据已接收:" +received_msg);
            var obj = JSON.parse(received_msg);
        };

        //连接关闭的回调事件
        webSocket.onclose = function()
        {
            console.log("连接已关闭...");
        };
    }
    else{
        alert("您的浏览器不支持 WebSocket!");
    }

    function closeWebSocket() {
        webSocket.close();
    }

    function send() {
        var message = $('#txt').val();
        webSocket.send(message);
    }
</script>
</body>
</html>