<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/intelligence/static/css/css.css"/>
</head>
<body>
<div>
<div class="container">
  <div class="top_div">
    智能客服
  </div>
  <div class="main">
    <div class="main_con">
      <div class="dialog">
      <div id="lanrenzhijia">
      </div>
      </div>
      <select class="select1" size="5" id="ques"  style="display: none" onchange="option_click()">
      </select>
      <div class="input_txt">
        <input placeholder="请用一句话描述您的问题，例如“网银如何支付”" id="txt" type="text"></input>
      </div>
      <div class="btn">
        <a href="#" id="btn1" class="btn1">发送</a>
      </div>
    </div>
    <div>
      <p style="color:#717171; padding:3px 0;">发送快捷键：Enter</p>
    </div>
  </div>
</div>
</div>
<input  type="text" th:value="${username}" id="username" style="display: none" />
<script type="text/javascript" src="/intelligence/static/js/jquery.min.js"></script>
<script src="/intelligence/static/js/jquery.nicescroll.js"></script>
<script type="text/javascript">
  $(function(){
    $("#lanrenzhijia").niceScroll({
      cursorcolor:"#67a8d1",
      cursoropacitymax:1,
      touchbehavior:false,
      cursorwidth:"6px",
      cursorborder:"0",
      cursorborderradius:"6px"
    });
  });
	function setPos() {
		var div = document.getElementById('lanrenzhijia');
		div.scrollTop = div.scrollHeight;
	}
  $('.btn1').click(function(){
    document.getElementById('btn1').style = "margin-left:8px; display:inline-block; float:right; font-size:16px; color:#ffffff; padding:3px 0; background:#717171; width:70px; text-align:center;";
	  send()
  });
  $('.input_txt').each(function (){
    this.onkeydown = function (e) {
      var theEvent = window.event || e;;
      var code = theEvent.keyCode || theEvent.which;
      if (code == 13) {
        $('.btn1').click();
      }
    }
  });
  window.obj;
  function option_click(){
    var oo = window.obj;
    var optionId = $('#ques').children('option:selected').val();
    var t = dates('Y-m-d H:i:s');
    $("#lanrenzhijia").append('<div class="content1"><p style="color:orange" >访客：(' + t + ')</p><p style="color:blue">'+oo[optionId].question+'</p><div class="clear"></div></div>');
    $("#lanrenzhijia").append('<div class="content2"><p style="color:darkgreen">智能小宝：(' + t + ')</p><p style="color:blue">'+oo[optionId].answer+'</p><div class="clear"></div></div>');
    setPos();
    document.getElementById('ques').style.display="none";
    var httpRequest = new XMLHttpRequest();
    httpRequest.open('POST', 'http://localhost:8088/intelligence/chat/click', true);
    httpRequest.setRequestHeader("Content-type","application/json");
    var idRequest = { id: oo[optionId].id};
    httpRequest.send(JSON.stringify(idRequest));
  }
  var dates = function(format) {
    var timeLocal = new Date();
    var year = timeLocal.getFullYear();
    var month = timeLocal.getMonth() + 1;
    var day = timeLocal.getDate();
    var hour = timeLocal.getHours();
    var minutes = timeLocal.getMinutes();
    var second = timeLocal.getSeconds();
    return format.replace("Y",year).replace("m",month).replace("d",day).replace("H",hour).replace("i",minutes).replace("s",second);
  };
    var webSocket;
    if ("WebSocket" in window)
    {
        var data = $("#username").val();
        webSocket = new WebSocket("ws://localhost:8088/intelligence/websocket/"+document.getElementById('username').value);

        //连通之后的回调事件
        webSocket.onopen = function()
        {
            console.log("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt) {
          var received_msg = evt.data;
          console.log("数据已接收:" + received_msg);
          window.obj = JSON.parse(received_msg);
          var ob = window.obj
          $("#ques").empty();
          for (var o in ob) {
            $("#ques").append('<option style="width:770px" value="'+o+'">'+ob[o].question+'</option>');
          }
          document.getElementById('ques').style.display = "block";
          document.getElementById('btn1').style = "margin-left:8px; display:inline-block; float:right; font-size:16px; color:#ffffff; padding:3px 0; background:#1982c3; width:70px; text-align:center;";
        }

        //连接关闭的回调事件
        webSocket.onclose = function()
        {
            console.log("连接已关闭...");
        };
    }
    else{
        alert("您的浏览器不支持 WebSocket!");
    }

    function closeWebSocket() {
        webSocket.close();
    }

    function send() {
        var message = $('#txt').val();
        webSocket.send(message);
    }
</script>
</body>
</html>