<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/intelligence/static/css/css.css"/>
</head>
<body>
<div class="container">
  <div class="top_div">
    智能客服
  </div>
  <div class="main">
    <div class="main_con">
      <div class="dialog">
      <div id="lanrenzhijia">
      </div>
      </div>
      <div class="input_txt">
        <textarea placeholder="请用一句话描述您的问题，例如“网银如何支付”" id="txt"></textarea>
      </div>
      <div class="btn">
        <a href="#" class="btn6">发送</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/intelligence/static/js/jquery.min.js"></script>
<script src="/intelligence/static/js/jquery.nicescroll.js"></script>
<script type="text/javascript">
  $(function(){
    $("#lanrenzhijia").niceScroll({
      cursorcolor:"#67a8d1",
      cursoropacitymax:1,
      touchbehavior:false,
      cursorwidth:"6px",
      cursorborder:"0",
      cursorborderradius:"6px"
    });
  });
	function setPos() {
		var div = document.getElementById('lanrenzhijia');
		div.scrollTop = div.scrollHeight;
	}
  $('.btn6').click(function(){
      $("#lanrenzhijia").append('<div class="content1"><p>访客：</p><p>'+$('#txt').val()+'</p><div class="clear"></div></div>');
	  setPos();
	  send()
  });
    var webSocket;
    if ("WebSocket" in window)
    {
        webSocket = new WebSocket("ws://localhost:8088/intelligence/websocket/wushubiao");

        //连通之后的回调事件
        webSocket.onopen = function()
        {
            console.log("已经连通了websocket");
        };

        //接收后台服务端的消息
        webSocket.onmessage = function (evt)
        {
            var received_msg = evt.data;
            console.log("数据已接收:" +received_msg);
            var obj = JSON.parse(received_msg);
        };

        //连接关闭的回调事件
        webSocket.onclose = function()
        {
            console.log("连接已关闭...");
        };
    }
    else{
        alert("您的浏览器不支持 WebSocket!");
    }

    function closeWebSocket() {
        webSocket.close();
    }

    function send() {
        var message = $('#txt').val();
        webSocket.send(message);
    }
</script>
</body>
</html>